<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{images/favicon.ico}"  type="image/x-icon"/>
    <link rel="bookmark" th:href="@{images/favicon.ico}"  type="image/x-icon"/>
    <title>城理头条登录界面</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <script type="text/javascript" src="javascript/login.js"></script>
</head>
<body>


<div class="container">
    <div class="welcome">
                <div class="pinkbox">
                    <div class="signup nodisplay">
                        <h1>register</h1>
                        <form autocomplete="off"  method="post">
                            <input type="text" placeholder="username">
                            <input type="email" placeholder="email">
                            <input type="password" placeholder="password">
                            <input type="password" placeholder="confirm password">
                            <button class="button submit">create account </button>
                        </form>
                    </div>
                    <div class="signin">
                        <h1>sign in</h1>
                        <form class="more-padding" autocomplete="off" action="/doLogin" method="post">
                            <input type="text" placeholder="username" name="username" required="required">
                            <input type="password" placeholder="password" name="password" required="required">
                            <div class="checkbox">
                                <input type="checkbox" id="remember" /><label for="remember">remember me</label>
                            </div>
                            <button type="submit" class="button submit">login</button>
                        </form>
                    </div>


                </div>
        <div class="leftbox">

            <h2 class="title"><span>BLOOM</span>&<br>BOUQUET</h2>
            <p class="desc">pick your perfect <span>bouquet</span></p>
            <img class="flower smaller" src="https://image.ibb.co/d5X6pn/1357d638624297b.jpg" alt="1357d638624297b" border="0">
            <p class="account">have an account?</p>
            <button class="button" id="signin">login</button>
        </div>

        <div class="rightbox">
            <form class="more-padding" autocomplete="off" action="/register" method="post">
                <h2 class="title"><span>BLOOM</span>&<br>BOUQUET</h2>
                <p class="desc"> pick your perfect <span>bouquet</span></p>
                <img class="flower" src="https://preview.ibb.co/jvu2Un/0057c1c1bab51a0.jpg"/>
                <p class="account">don't have an account?</p>
                <button class="button" id="signup">sign up</button>
            </form>
        </div>
    </div>
</div>

</div>

</body>
</html>